<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <AutoDarkModeApp.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlterTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>166</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1050</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>737.3333333333333</value>
            </setting>
        </AutoDarkModeApp.Properties.Settings>
    </userSettings>
</configuration>